package layouts

templ Page(title string) {
	<html>
		<head>
			<link rel="stylesheet" href="/uno.css"/>
			<link rel="stylesheet" href="/global.css"/>
			<title>{ title }</title>
		</head>
		<body class="bg-black flex flex-col justify-center items-center w-screen h-screen overflow-hidden text-white font-sans">
			{ children... }
		</body>
	</html>
}
