package layouts

templ Page(title string) {
	<html>
		<head>
			<link rel="stylesheet" href="/uno.css"/>
			<title>{ title }</title>
		</head>
		<body class="bg-black">
			{ children... }
		</body>
	</html>
}
