package layouts

templ Page(title string) {
	<html>
		<head>
			<link rel="stylesheet" href="/uno.css"/>
			<style>
				@font-face {
					font-family: Inter;
					src: url(inter.woff2);
				}
				@font-face {
					font-family: Cal Sans;
					src: url(cal-sans.woff2);
				}
			</style>
			<title>{ title }</title>
		</head>
		<body class="bg-black flex flex-col justify-center items-center w-screen h-screen overflow-hidden text-white font-sans">
			{ children... }
		</body>
	</html>
}
